<div class="grid">
    <div class="grid__cell push-1of12 margin-bottom--small">
        <div class="grid__cell global-1of10">
            Format
        </div>
        <div class="grid__cell global-4of10">
            File Name
        </div>
        <div class="grid__cell global-2of10">
            File Size
        </div>
        <div class="grid__cell global-3of10">
            Last Edit
        </div>
    </div>
</div>

<div class="card card--borderless card--elevation-3 padding-top--small">
    <div class="grid padding-bottom">
        <div class="grid__cell margin-top">
            <div class="grid__cell global-1of10">
                <div class="button button--circle">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="grid__cell global-4of10 margin-vertical">
                NomefileRandomico.pdf
            </div>
            <div class="grid__cell global-2of10 margin-vertical">
                2.2mb
            </div>
            <div class="grid__cell global-3of10 margin-vertical">
                Monday 15 Feb 2017 at 16:58
            </div>
        </div>

        <div class="grid__cell margin-top">
            <div class="grid__cell global-1of10">
                <div class="button button--circle">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="grid__cell global-4of10 margin-vertical">
                NomefileRandomico.pdf
            </div>
            <div class="grid__cell global-2of10 margin-vertical">
                2.2mb
            </div>
            <div class="grid__cell global-3of10 margin-vertical">
                Monday 15 Feb 2017 at 16:58
            </div>
        </div>

        <div class="grid__cell margin-top">
            <div class="grid__cell global-1of10">
                <div class="button button--circle">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="grid__cell global-4of10 margin-vertical">
                NomefileRandomico.pdf
            </div>
            <div class="grid__cell global-2of10 margin-vertical">
                2.2mb
            </div>
            <div class="grid__cell global-3of10 margin-vertical">
                Monday 15 Feb 2017 at 16:58
            </div>
        </div>
    </div>
</div>
