<aside class="grid__cell lap-up-1of4 desk-wide-1of5 sidenav">

    <header class="sidenav__header">
        <img class="global-3of4 margin-bottom" src="https://cdn.aterrae.com/aterrae/logo_sidecopy.png" alt="Logo"></img>
        <input class="full-width" type="text" value placeholder="Search...">
    </header>


    <ul class="sidenav__list">
        <a href="#"><li class="sidenav__list__item">Website</li></a>
        <a href="#"><li class="sidenav__list__item">Website</li></a>
        <a href="#"><li class="sidenav__list__item sidenav__list__item--active">Website</li></a>
    </ul>

</aside>
